*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #063427;
}

::-webkit-scrollbar-thumb {
  background: #068126;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2db648;
}